<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin Konsole</title>
  <%- include('../header_common') %>
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
</head>

<body>


  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/">Home</a>

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/admin">System</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/statistics">Statistik</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/orderdata">Bestelldaten</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/configuration">Stammdaten</a>
      </li>
      <li class="nav-item mr-auto">

      </li>
    </ul>
    <form action="#" method="POST" class="ml-auto">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" name="logout" value="true">Logout</button>
    </form>
  </nav>
  <br>
  <div class="container">
    <div class="card">
      <div class="card-header">
        System
      </div>
      <div class="card-body">
        Server Uptime: <%= uptime%> s
        <br>
        Database access:
        <% if(db_a) { %>
        <img src="images/check.png" style="width: 15px;">
        <% }else{ %>
        <img src="images/canceled.png" style="width: 15px;">
        <% } %>
        <br>
        Database tables accessable:
        <% if(db_t) { %>
        <img src="images/check.png" style="width: 15px;">
        <% }else{ %>
        <img src="images/canceled.png" style="width: 15px;">
        <div>
          <form action="admin" method="POST">
            <button class="btn btn-warning" name="createTables" value="1" onclick="this.form.submit()">Create
              Tables</button>
          </form>
        </div>
        <% } %>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header">
        Users
      </div>
      <div class="card-body">
        <form action="admin" method="POST" class="form-check">
          <% if(regActive) { %>
          <input type="checkbox" id="registrationPersonal" name="registrationPersonal" checked
            onchange="this.form.submit()">
          <% }else{ %>
          <input type="checkbox" id="registrationPersonal" name="registrationPersonal" onchange="this.form.submit()">
          <% } %>
          <label class="form-check-label" for="registrationPersonal">
            Registrierung für Kellner
          </label>
        </form>
      </div>
      <div class="card-body">
        Registrierte Kellner:
        <div class="list-group overflow-auto" style="max-height: 150px">
          <% if(personal.length){ for(var i=0; i< personal.length; i++) {%>
          <div class="list-group-item">
            <td>
              <span><%= personal[i].name%></span>
            </td>
          </div>
          <% } }else{ %>
          <div class="list-group-item">
            Kein Personal registriert
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header">
        Database
      </div>
      <div class="card-body">
        <form action="#" method="POST">
          <button class="btn btn-info" name="exportdb" value="true" data-toggle="tooltip" data-placement="top"
            title="Exports all database content to a file">
            Export Database</button>
          <button class="btn btn-danger" name="resetDynamic" value="true" data-toggle="tooltip" data-placement="top"
            title="USE WITH CAUTION! Deletes all dynamic content from the Database. All sessions, personal, orders and necessery mapping data">
            Reset Dynamic Data</button>
          <button class="btn btn-danger" name="resetComplete" value="true" data-toggle="tooltip" data-placement="top"
            title="DELETES ALL DATA! Clears all user generated data for a fresh start"> Reset Database</button>
        </form>
        <br>
        <span>Import DB File:</span>
        <form action="#" method="POST" enctype="multipart/form-data"> 
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="dbfile" name="dbfile" aria-describedby="inputGroupFileAddon04" required>
              <label class="custom-file-label" for="dbfile">Choose file</label>
            </div>
            <div class="input-group-append">
              <button class="btn btn-warning" id="import" type="submit" name="importdb" value="true" data-toggle="tooltip"
                data-placement="top" title="Replaces DB with import; WIP">Import DB</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header">
        Change Password
      </div>
      <div class="card-body">
        <form class="form-group" action="#" method="POST">
          <label for="password1">Enter new password:</label>
          <input type="password" class="form-control" id="password1" name="password1" required
            oninput="checkPasswords()">
          <label for="password2">Confirm new password:</label>
          <input type="password" class="form-control" id="password2" name="password2" required
            oninput="checkPasswords()">
          <br>
          <div id="pw_err" class="alert alert-warning" style="display:none;">
            Passwords not the same!
          </div>
          <button class="btn btn-primary btn-block" id="pw_submit" disabled> Change password</button>
        </form>
      </div>
    </div>
  </div>

  <script>
    function checkPasswords() {
      var p1 = document.getElementById("password1").value;
      var p2 = document.getElementById("password2").value;

      if (p1 && p2) {
        if (p1 == p2) {
          if (p1.length >= 8 && p2.length >= 8) {
            document.getElementById("pw_err").style.display = "none";
            document.getElementById("pw_submit").disabled = false;
            return;
          }
          document.getElementById("pw_err").innerText = "Password min. 8 characters long"
        } else {
          document.getElementById("pw_err").innerText = "Passwords not the same";
        }
      } else {
        document.getElementById("pw_err").innerText = "Password field empty";
      }


      document.getElementById("pw_err").style.display = "";
      document.getElementById("pw_submit").disabled = true;
    }
  </script>
</body>

</html>