<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login Personal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/">Home</a>
</nav>
<br>

<div class="container">
  <h2>Login Personal</h2>
  <h3>Hier startest du die Anwendung. Gib deinen Namen ein log dich ein.</h3>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Name eingeben" name="name">
    </div>
    <div class="text-center">
        <a class="btn btn-primary" href="personal_overview">Login</a>
        <!--<button type="submit" class="btn btn-primary">Login</button>-->
    </div>
  </form>
</div>

</body>
</html>