<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tisch Move</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
    <script src="/javascripts/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>
</head>

<body>

    <!-- Nav bar -->
    <nav class="navbar navbar-expand-ti navbar-dark bg-dark">
        <a class="navbar-brand" href="/personal/overview">Übersicht</a>
        <ul class="navbar-nav mr-auto">
        </ul>
        <span class="navbar-brand">Sitzung bewegen</span>
    </nav>
    <br>
    <div class="container">
        <form action="#" method="POST" id="move">
            <h3>Gruppe</h3>
            <% if(table_groups.length){ %>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <% for(var i=0; i< table_groups.length; i++) {%>
                <label class="btn btn-primary btn-lg">
                    <input type="radio" name="table_group" id="option<%= table_groups[i].id%>"
                        value="<%= table_groups[i].id%>" autocomplete="off" onclick="loadTables(this)">
                    <%= table_groups[i].groupname%>
                </label>
                <% } %>
            </div>
            <% }else{ %>
            <div class="list-group-item">
                Keine Tisch Gruppen definiert
            </div>
            <% } %>

            <h3 class="pt-3">Freie Tische</h3>
            <select class="custom-select" id="table" name="table">
            </select>
        </form>
    </div>
    <% if(err) { %>
    <div class="alert alert-warning">
        <%= err %>
    </div>
    <% } %>


    <!-- Neuer Tisch -->
    <div class="fixed-bottom text-center">
        <button class="btn btn-primary btn-lg btn-block" type="submit" name="move_session" form="move" value="true">Bewegen</button>
    </div>


    <script>
        function loadTables(dropdown) {
            var group_id = dropdown.value;
            console.log(group_id);
            if (!group_id) {
                $("#table").html('');
                return;
            }
            console.log("change tablegoup " + group_id)
            $("#table").html('');
            $.ajax({
                url: "/data/getFreeTablesFromGroup",
                type: "POST",
                data: {
                    name: 'tables',
                    group_id: group_id,
                },
                dataType: 'json',
                success: function (result) {
                    console.log(result)
                    if (result.tables.length != 0) {
                        $("#table").append('<option value="" selected>' + "Choose ..." + '</option>');
                        $.each(result.tables, function (key, value) {
                            $("#table").append('<option value="' + value.id + '">' + value.nummer +
                                '</option>');
                        });
                    } else {
                        $("#table").append('<option value="-1">' + Leer + '</option>');
                    }
                }
            });
        };
    </script>

</body>

</html>