html
  head
    title Admin
    link(rel="stylesheet", href="stylesheets/bootstrap.css")
  body
    h1 Administratoroberfläche
    h2 Datenbank 
    h3 Organisation 

    form(action="", method="post") 
    input(type="text", value="")
    input(type="button", value="Anmelden")
