<!DOCTYPE html>
<html lang="en">

<head>
    <title>Error</title>
    <%- include('header_common') %>
</head>

<body>
    <h1>
        <%= error %>
    </h1>
    <h2>
        <%= error.status %>
    </h2>
    <pre><%= error.stack %></pre>
    <div>
        <img src="images/error.gif" style="margin-left: 25%; width: 50%">
    </div>

</body>

</html>