<!DOCTYPE html>
<html lang="en">

<head>
    <title>Übersicht</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="/">Home</a>
    </nav>
    <br>

    
    <br>
    <div class="container">
        <div>
            <h2>Developer Menü</h2>
        </div>
        <div class="card">
            <div class="card-header">
                Tisch
            </div>
            <div class="card-body">
                <a href="tisch/tisch_overview">Tisch Overview</a>
                <br>
                <a href="tisch/tisch_neu">Tisch Neu</a>
                <br>
                <a href="tisch/tisch_kassieren"> Tisch Kassieren</a>
            </div>
            <div class="card-header">
                Personal
            </div>
            <div class="card-body">
                <a href="personal/personal_overview"> Kellner Übersicht</a>
                <br>
                <a href="personal/login_personal">Personal Login</a>
                <br>
                <a href="personal/registrierung_personal"> Registrierung</a>
            </div>
            <div class="card-header">
                Admin
            </div>
            <div class="card-body">
                <a href="/admin"> Admin</a>
                <br>
                <a href="/admin/configuration"> Admin Config</a>
                <br>
                <a href="/admin/orderdata"> Admin Orderdata</a>
                <br>
                <a href="/admin/login_admin">Login Admin</a>
            </div>
            <div class="card-header">
                Station
            </div>
            <div class="card-body">
                <a href="/station_overview.html"> Station Overview</a>
                <br>
                <a href="/login_station.html"> Login Station</a>
            </div>
        </div>

    </div>

</body>

</html>