html
  head
    title= title
  body
    h1= message
    a(href="/login_personal.html") Personal Login
    br
    a(href="/tisch_overview.html") Tisch Overview
    br
    a(href="/tisch_neu.html") Tisch Neu
    br
    a(href="/tisch_kassieren.html") Tisch Kassieren
    br
    a(href="/personal_overview.html") Kellner Übersicht
    br
    a(href="/admin.html") Admin
        br
    a(href="/admin_configuration.html") Admin Config
        br
    a(href="/admin_orderdata.html") Admin Orderdata
        br
    a(href="/login_admin.html") Login Admin
    br
    a(href="/registrierung_personal.html") Registrierung
    br
    a(href="/station_overview.html") Station Overview
        br
    a(href="/login_station.html") Login Station



