<!DOCTYPE html>
<html lang="en">

<head>
    <title>Übersicht</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/css/bootstrap.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="/">Home</a>
    </nav>
    <br>

    <div>
        <h2>Developer Menü</h2>
    </div>
    <br>
    <div class="container">
        <a href="/login_personal">Personal Login</a>
        <br>
        <a href="/tisch_overview.html">Tisch Overview</a>
        <br>
        <a href="/tisch_neu.html">Tisch Neu</a>
        <br>
        <a href="/tisch_kassieren.html"> Tisch Kassieren</a>
        <br>
        <a href="/personal_overview.html"> Kellner Übersicht</a>
        <br>
        <a href="/admin"> Admin</a>
        <br>
        <a href="/admin_configuration.html"> Admin Config</a>
        <br>
        <a href="/admin_orderdata.html"> Admin Orderdata</a>
        <br>
        <a href="/login_admin.html">Login Admin</a>
        <br>
        <a href="/registrierung_personal"> Registrierung</a>
        <br>
        <a href="/station_overview.html"> Station Overview</a>
        <br>
        <a href="/login_station.html"> Login Station</a>
    </div>

</body>

</html>