html
  head
    title= title
  body
    h1= message
    a(href="/login_personal.html") Personal Login
    br
    a(href="/tisch_overview.html") Tisch Overview
    br
    a(href="/tisch_neu.html") Tisch Neu
    br
    a(href="/personal_overview.html") Kellner Übersicht
    br
    a(href="/stand.js") Stand
    br
    a(href="/admin.js") Admin
    br
    a(href="/registrierung_personal.html") Registrierung
    br
    a(href="/station_overview.html") Station Overview


