<!DOCTYPE html>
<html lang="en">

<head>
    <title>Übersicht</title>
    <%- include('header_common') %>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="/">Home</a>
    </nav>
    <br>

    <div class="container">
        <div>
            <h2>Ich bin ...</h2>
        </div>
        <br>
        <a class="btn btn-block btn-primary py-4" href="personal/login">
            <h2>Kellner/In</h2>
        </a>
        <br>
        <a class="btn btn-block btn-primary py-4" href="station/login">
            <h2>Station</h2>
        </a>
        <br>
        <% if(registrationActive) { %>
        <a class="btn btn-block btn-info py-4" href="personal/registrierung">
            <h2>Neu hier!</h2>
        </a>
        <% } %>

    </div>
    <nav class="navbar bg-light navbar-light fixed-bottom">
        <a class="navbar-brand" href="admin/login">Administrator</a>
        <a class="navbar-item ml-auto" href="dev" style="color:black;">by Michael Selinger 2022</a>
    </nav>

    </div>
</body>

</html>