html
  head
    title title
  body
    h1 Willkommen Kellner!
    h2 Bitte gib deinen Namen ein: 
    form(action="", method="post") 
    input(type="text", value="")
    input(type="button", value="Anmelden")

