<% if(options.length) { %>
<div class="container">
    <div class="row row-cols-3">
        <div class="col">
            <span>Optionen: </span>
        </div>
    </div>
    <div class="row row-cols-3">
        <% for(var i=0; i< options.length; i++) { %>
        <div class="col">
            <% if(options[i].ordered == 1  && options[i].standard == 0) { %>
            <img src="/images/add.png" style="width: 20px" />
            <% } else if(options[i].ordered == 0 && options[i].standard == 1) { %>
            <img src="/images/canceled.png" style="width: 20px" />
            <% }  %>
            <span><%=options[i].name %></span>
        </div>
        <% } %>
    </div>
</div>
<% if(notiz) { %>
<span class="form-control">Notiz: <%=notiz %></span>
<% } %>
<% } else { %>
<span>Standardbestellung</span>
<% } %>